{% extends "layout.html" %}
{% block content %}


    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">About
                        <strong>Southern Wholesome Education</strong>
                    </h2>
                    <hr>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Our
                        <strong>Team</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>John Smith</h3>
                    <p>Bio about John Smith
                    <p>Major responsibilities
                    <p>no. of commits
                    <p>no. of issues
                    <p>no. of unit tests
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>John Smith</h3>
                    <p>Bio about John Smith
                    <p>Major responsibilities
                    <p>no. of commits
                    <p>no. of issues
                    <p>no. of unit tests
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>John Smith</h3>
                    <p>Bio about John Smith
                    <p>Major responsibilities
                    <p>no. of commits
                    <p>no. of issues
                    <p>no. of unit tests
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>John Smith</h3>
                    <p>Bio about John Smith
                    <p>Major responsibilities
                    <p>no. of commits
                    <p>no. of issues
                    <p>no. of unit tests
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>John Smith</h3>
                    <p>Bio about John Smith
                    <p>Major responsibilities
                    <p>no. of commits
                    <p>no. of issues
                    <p>no. of unit tests
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>John Smith</h3>
                    <p>Bio about John Smith
                    <p>Major responsibilities
                    <p>no. of commits
                    <p>no. of issues
                    <p>no. of unit tests
                </div>
                <div class="clearfix"></div>
            </div>
        </div>


        <div class="row">
            <div class="box">
                  <hr>
                    <h2 class="intro-text text-center">
                      <strong>Stats</strong>
                    </h2>
                  <hr>
                    <ul>
                      <li><strong>total no. of commits: <strong> </li>
                      <li><strong>total no. of issues: <strong></li>
                      <li><strong>total no. of unite tests: <strong></li>
                      <li><strong>Apiary API: <strong></li>
                      <li><strong>GitHub Issue Tracker: <strong></li>
                      <li><strong>GitHub Repo: <strong></li>
                      <li><strong>GitHub Wiki: <strong></li>
                    </ul>
            </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                  <hr>
                    <h2 class="intro-text text-center">
                      <strong>Data</strong>
                    </h2>
                  <hr>
                    <ul>
                      <li><strong>Data Source: <strong> link to the data source <p> description of how scraped</li>
                    </ul>
            </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                  <hr>
                    <h2 class="intro-text text-center">
                      <strong>Tools</strong>
                    </h2>
                  <hr>
                    <ul>
                      <li><strong>Bootstrap <strong> <p>usage discription</li>
                      <li><strong>AWS <strong>usage discription</li>
                    </ul>
            </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>



    <!-- end template -->

{% endblock %}

