{% extends "layout.html" %}
{% block content %}
    <div class="container">
      <div>
        <h3>Austin, TX</h3>
      </div>

      <div>
        <h3>Student Population</h3>
        <p>38,914</p>
      </div>

      <div>
        <h3>Universities in the city</h3>
        <ul>
          <li><a href="/UTAustin.html">University of Texas at Austin</a></li>
        </ul>
      </div>

      <div>
        <h3>Majors in the city or most popular</h3>
        <ul>
          <li><a href="/journalism.html">Journalism</a></li>
          <li><a href="/engineering.html">Engineering</a></li>
          <li><a href="/socialsciences.html">Social Sciences</a></li>
        </ul>
      </div>

      <div>
        <h3>Average tuition in the city</h3>
        <p>$17,152</p>
      </div>

      <div>
        <h3>Urban/Rural</h3>
        <p>Urban</p>
      </div>

      <div>
        <h3>Current Year Student Ethnicity Count</h3>
        <ul>
          <li><a href="/black.html">Black</a>: 17,900</li>
          <li><a href="/white.html">White</a>: 8,561</li>
          <li><a href="/asian.html">Asian</a>: 7,393</li>
        </ul>
      </div>
      <img class="img-responsive" src="http://www.chcp.edu/sites/default/files/content/images/CHCP-Austin-Campus_0.jpg
" alt="">
<iframe width="560" height="315" src="https://www.youtube.com/embed/5LCp_8C6hE0" frameborder="0" allowfullscreen></iframe>


    </div>
  
{% endblock %}

