{% extends "layout.html" %}
{% block content %}
  <div ng-app="app" ng-controller="cityCtrl">
    <div class="container">
      <div>
        <h3>Cities</h3>
        <p>The following table contains information about all cities which contain a college/university in the united states. (Project 1 contains a limited amount)</p>
      </div>

      <table>
        <tr>
          <th>City</th>
          <th>Student Population</th>
          <th>University Count</th>
          <th>Major List</th>
          <th>Average Tuition</th>
          <th>Urban or Rural</th>
          <th>Ethnicity Count</th>
        </tr>
        <tr ng-repeat="city in cities">
          <td><a href="./cities/{{ city.name.replace(' ', '-') }}"/></td>
          <td>{{ city.student_population }}</td>
          <td>{{ city.university_count }}</td>
          <td>{{ city.major_list }}</td>
          <td>{{ city.average_tuition }}</td>
          <td>{{ city.urban_or_rural }}</td>
          <td>{{ city.ethnicity_count }}</td>
        </tr>
      </table>
      <div>
        <br>
        <p>City - A given city in the United States which contains a college or university.</p>
        <p>Student Population - Total undergraduate student population in the given city.</p>
        <p>University Count - Number of colleges/universities in the given city.</p>
        <p>Major List - Number of majors in the given city.</p>
        <p>Average Tuition - Average tuition cost in the given city.</p>
        <p>Urban or Rural - Urban is a classification of a density of 1,000 people per square mile, otherwise it is rural.</p>
        <p>Ethnicity Count - Number of enthnicities in the given city.</p>
      </div>
    </div>
  </div>
{% endblock %}