{% extends "layout.html" %}
{% block content %}
    <div class="container">
      <div>
        <h3>Cities</h3>
        <p>List of supported cities on our system.</p>
      </div>

      <!-- <div>
        <h3>Suuported Cities</h3>
        <ul>
          <li><a href="/Austin.html">Austin, TX</a></li>
          <li><a href="/LosAngeles.html">Los Angeles, CA</a></li>
          <li><a href="/Charlottesville.html">Charlottesville, VA</a></li>
        </ul>
      </div> -->


      <table>
  <tr>
    <th>City</th>
    <th>Student Population</th>
    <th>University Count</th>
    <th>Major List</th>
    <th>Average Tuition</th>
    <th>Urban or Rural</th>
    <th>Ethnicity Count</th>
  </tr>
  <tr>
    <td><a href="/Austin.html">Austin, TX</a></td>
    <td>38,914</td>
    <td>1</td>
    <td>3</td>
    <td>$17,152</td>
    <td>Urban</td>
    <td>3</td>
  </tr>

  <tr>
    <td><a href="/LosAngeles.html">Los Angeles, CA</a></td>
    <td>18,392</td>
    <td>1</td>
    <td>3</td>
    <td>$28,344</td>
    <td>Urban</td>
    <td>3</td>
  </tr>

  <tr>
    <td><a href="/Charlottesville.html">Charlottesville, VA</a></td>
    <td>15,515</td>
    <td>1</td>
    <td>2</td>
    <td>$17,863</td>
    <td>Urban</td>
    <td>3</td>
  </tr>
</table>


    </div>
{% endblock %}
