{% extends "layout.html" %}
{% block content %}

    <div class="container">
      <div>
        <h3>Discription</h3>
        <p>Ethicities supported by our system.</p>
      </div>

      <!-- <div>
        <h3>Supported Ethnicities</h3>
        <ul>
          <li><a href="/white.html">White</a></li>
          <li><a href="/hispanic.html">Hispanic</a></li>
          <li><a href="/asian.html">Asian</a></li>
        </ul>
      </div> -->

      <table>
        <tr>
          <th>Ethnicity</th>
          <th>Total Undergraduate Population</th>
          <th>Top City</th>
          <th>Top University</th>
          <th>Peak Enrollment Year</th>
        </tr>
        <tr>
          <td><a href="/white.html">White</a></td>
          <td>33,985</td>
          <td>Austin, TX</td>
          <td>University of Texas at Austin</td>
          <td>2013</td>
        </tr>

        <tr>
          <td><a href="/hispanic.html">Hispanic</a></td>
          <td>11,135</td>
          <td>Austin, TX</td>
          <td>University of Texas at Austin</td>
          <td>2014</td>
        </tr>

        <tr>
          <td><a href="/asian.html">Asian</a></td>
          <td>12,553</td>
          <td>Austin, TX</td>
          <td>University of Texas at Austin</td>
          <td>2012</td>
        </tr>
      </table>

    </div>
  
{% endblock %}
