{% extends "layout.html" %}
{% block content %}

    <div class="container">
      <div>
        <h3>Ethnicities</h3>
        <p>The following table contains information about all of the ethnicities in colleges and universities in the United States. (Project 1 contains a limited amount)</p>
      </div>
      <table>
        <tr>
          <th>Ethnicity</th>
          <th>Total Undergraduate Population</th>
          <th>Top City</th>
          <th>Top University</th>
          <th>Peak Enrollment Year</th>
        </tr>
        <tr>
          <td><a href="/white.html">White</a></td>
          <td>33,985</td>
          <td><a href="/Austin.html">Austin, TX</a></td>
          <td><a href="/UTAustin.html">University of Texas at Austin</a></td>
          <td>2013</td>
        </tr>

        <tr>
          <td><a href="/hispanic.html">Hispanic</a></td>
          <td>11,135</td>
          <td><a href="/Austin.html">Austin, TX</a></td>
          <td><a href="/UTAustin.html">University of Texas at Austin</a></td>
          <td>2014</td>
        </tr>

        <tr>
          <td><a href="/asian.html">Asian</a></td>
          <td>12,553</td>
          <td><a href="/Austin.html">Austin, TX</a></td>
          <td><a href="/UTAustin.html">University of Texas at Austin</a></td>
          <td>2012</td>
        </tr>
      </table>
      <div>
        <br>
        <p>Ethnicity - A given ethnicity found at a US college or university.</p>
        <p>Total Undergraduate Population - Total population of the given ethnic group across all of the United States (project 1 limited data)</p>
        <p>Top City - City which contains the highest amount of given ethnic group.</p>
        <p>Top University - University which contains the highest amount of given ethnic group.</p>
        <p>Peak Enrollment Year - Year which had the peak enrollment amount of students for the given ethnic group.</p>
      </div>

    </div>
  
{% endblock %}
