{% extends "layout.html" %}
{% block content %}
    <div class="container">
      <div>
        <h3>Hispanic</h3>
      </div>

      <div>
        <h3>Total count in country</h3>
        <p>2,967</p>
      </div>

      <div>
        <h3>Top 10 Cities</h3>
        <ul>
          <li><a href="/Austin.html">Austin, TX</a></li>
          <li><a href="/LosAngeles.html">Los Angeles, CA</a></li>
          <li><a href="/Charlottesville.html">Charlottesville, VA</a></li>
        </ul>
      </div>

      <div>
        <h3>Top 10 Universities</h3>
        <ul>
          <li><a href="/UTAustin.html">University of Texas at Austin</a></li>
          <li><a href="/USC.html">University of Southern California</a></li>
          <li><a href="/UVMain.html">University of Virginia-Main Campus</a></li>
        </ul>
      </div>

      <div>
        <h3>University population trend for last 5 years</h3>
        <ul>
          <li>University of Austin at Texas</li>
          <li>University of Southern California</li>
        </ul>
      </div>


    </div>
  
{% endblock %}

