{% extends "layout.html" %}
{% block content %}

    <div class="container">
      <div>
        <h3>Majors</h3>
        <p>The following table contains information about all educational majors/programs in the United States. (Project 1 contains a limited amount)</p>
      </div>

      <table>
        <tr>
          <th>Major</th>
          <th>Undergraduate Population</th>
          <th>Graduation Rate</th>
          <th>University Count</th>
          <th>City Count</th>
          <th>Average Percentage</th>
        </tr>
        <tr>
          <td><a href="/journalism.html">Journalism</a></td>
          <td>2,967</td>
          <td>83.1%</td>
          <td>2</td>
          <td>2</td>
          <td>4.1%</td>
        </tr>

        <tr>
          <td><a href="/engineering.html">Engineering</a></td>
          <td>8,136</td>
          <td>53.6%</td>
          <td>3</td>
          <td>3</td>
          <td>11.1%</td>
        </tr>

        <tr>
          <td><a href="/socialsciences.html">Social Sciences</a></td>
          <td>9,075</td>
          <td>48.1%</td>
          <td>3</td>
          <td>3</td>
          <td>12.5%</td>
        </tr>
      </table>
      <div>
        <br>
        <p>Major - A given major in a United States college or university.</p>
        <p>Undergraduate Population - Total undergraduate student population across the US.</p>
        <p>Graduation Rate - Number of students graduation divided by entire enrollment.</p>
        <p>University Count - Number of universities containing given major.</p>
        <p>City Count - Number of cities containing given major.</p>
        <p>Average Percentage - Total students in given major over total undergraduate population.</p>
      </div>


    </div>
  
{% endblock %}
