{% extends "layout.html" %}
{% block content %}
  <div ng-app="app" ng-controller="universityCtrl">
    <div class="container">
      <div>
        <h3>Universities</h3>
        <p>The following table contains information about all of the universities in the United States. (Project 1 contains a limited amount)</p>
      </div>

      <table>
        <tr>
          <th>University</th>
          <th>Undergraduate Population</th>
          <th>Cost to Attend</th>
          <th>Graduation Rate</th>
          <th>Location</th>
          <th>Public or Private</th>
          <th>Ethnicity Count</th>
        </tr>
        <tr ng-repeat="university in universities">
          <td><a href="./universities/{{ university.name.replace(' ', '-') }}"/></td>
          <td>{{ university.undergraduate_population }}</td>
          <td>{{ university.cost_to_attend }}</td>
          <td>{{ university.graduation_rate }}</td>
          <td><a href="./cities/{{ university.location.replace(' ', '-') }}"/></td>
          <td>{{ university.public_or_private }}</td>
          <td>{{ university.ethnicity_count }}</td>
        </tr>
      </table>

      <div>
        <br>
        <p>University - Universities supported by our system.</p>
        <p>Undergraduate Population - Total undergraduate student population across the US.</p>
        <p>Cost to Attend - Cost of the university for a period of one school year.</p>
        <p>Graduation Rate - Number of students graduation divided by entire enrollment.</p>
        <p>Location - City and state for the given university.</p>
        <p>Public or Private - Publicly owned vs privately owned institution.</p>
        <p>Ethnicity Count - Number of enthnic groups in given university.</p>
      </div>
    </div>
  </div>
{% endblock %}