{% extends "layout.html" %}
{% block content %}

    <div class="container">
      <div>
        <h3>Discription</h3>
        <p>Univeristies supported by our system.</p>
      </div>

      <!-- <div>
        <h3>Supported Universities</h3>
        <ul>
          <li><a href="/UTAustin.html">University of Texas at Austin</a></li>
          <li><a href="/USC.html">University of Southern California</a></li>
          <li><a href="/UVMain.html">University of Virginia-Main Campus</a></li>
        </ul>
      </div> -->


      <table>
        <tr>
          <th>University</th>
          <th>Undergraduate Population</th>
          <th>Cost to Attend</th>
          <th>Graduation Rate</th>
          <th>Location</th>
          <th>Public or Private</th>
          <th>Ethnicity Count</th>
        </tr>
        <tr>
          <td><a href="/UTAustin.html">University of Texas at Austin</a></td>
          <td>38,914</td>
          <td>$17,152</td>
          <td>80%</td>
          <td>Austin, TX</td>
          <td>Public</td>
          <td>3</td>
        </tr>

        <tr>
          <td><a href="/USC.html">University of Southern California</a></td>
          <td>18,392</td>
          <td>$28,344</td>
          <td>91%</td>
          <td>Los Angeles, CA</td>
          <td>Private</td>
          <td>3</td>
        </tr>

        <tr>
          <td><a href="/UVMain.html">University of Virginia-Main Campus</a></td>
          <td>15,515</td>
          <td>$17,863</td>
          <td>94%</td>
          <td>Charlottesville, VA</td>
          <td>Public</td>
          <td>3</td>
        </tr>
      </table>


    </div>
  
{% endblock %}

