{% extends "layout.html" %}
{% block content %}

    <div class="container">
      <div>
        <h3>Discription</h3>
        <p>Univeristies supported by our system.</p>
      </div>

      <div>
        <h3>Supported Universities</h3>
        <ul>
          <li><a href="/UTAustin.html">University of Texas at Austin</a></li>
          <li><a href="/USC.html">University of Southern California</a></li>
          <li><a href="/UVMain.html">University of Virginia-Main Campus</a></li>
        </ul>
      </div>
    </div>
  
{% endblock %}
