{% extends "layout.html" %}
{% block content %}
    <div class="container">
      <div>
        <h3>University of Southern California</h3>
      </div>

      <div>
        <h3>Number of Undergraduate Students</h3>
        <p>18,392</p>
      </div>

      <div>
        <h3>Cost to Attend</h3>
        <p>$28,344</p>
      </div>

      <div>
        <h3>Graduation Rate</h3>
        <p>91%</p>
      </div>

      <div>
        <h3>Location</h3>
        <ul>
          <li><a href="/LosAngeles.html">Los Angeles, CA</a></li>
        </ul>
      </div>

      <div>
        <h3>Public/Private</h3>
        <p>Private</p>
      </div>

      <div>
        <h3>Current year ethnicity count</h3>
        <ul>
          <li><a href="/hispanic.html">Hispanic</a>: 6,621</li>
          <li><a href="/white.html">White</a>: 4,230</li>
          <li><a href="/asian.html">Asian</a>: 2,574</li>
        </ul>
      </div>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/eERe0-E4Zpg" frameborder="0" allowfullscreen></iframe>

    </div>
  
{% endblock %}

