{% extends "layout.html" %}
{% block content %}
    <div class="container">
      <div class=".col-md-6">
      <div>
        <h3>University of Texas at Austin</h3>
      </div>

      <div>
        <h3>Number of Undergraduate Students</h3>
        <p>38,914</p>
      </div>

      <div>
        <h3>Cost to Attend</h3>
        <p>$17,152</p>
      </div>

      <div>
        <h3>Graduation Rate</h3>
        <p>80%</p>
      </div>

      <div>
        <h3>Location</h3>
        <ul>
          <li><a href="/Austin.html">Austin, TX</a></li>
        </ul>
      </div>

      <div>
        <h3>Public/Private</h3>
        <p>Public</p>
      </div>

      <div>
        <h3>Current year ethnicity count</h3>
        <ul>
          <li><a href="/hispanic.html">Hispanic</a>: 17,900</li>
          <li><a href="/white.html">White</a>: 8,561</li>
          <li><a href="/asian.html">Asian</a>: 7,393</li>
        </ul>
      </div>

      <iframe width="560" height="315" src="https://www.youtube.com/embed/Oea5ftjGO8I" frameborder="0" allowfullscreen></iframe>

    </div>
    <div class=".col-md-6">
    </div>
      <img class="img-responsive img-full" src="https://s-media-cache-ak0.pinimg.com/originals/eb/73/30/eb7330efee590de84645c270112f0527.jpg" alt="">
    </div>
  
{% endblock %}

