{% extends "layout.html" %}
{% block content %}
    <div class="container">
      <div>
        <h3>University of Virginia-Main Campus</h3>
      </div>

      <div>
        <h3>Number of Undergraduate Students</h3>
        <p>15,515</p>
      </div>

      <div>
        <h3>Cost to Attend</h3>
        <p>$17,152</p>
      </div>

      <div>
        <h3>Graduation Rate</h3>
        <p>94%</p>
      </div>

      <div>
        <h3>Location</h3>
        <ul>
          <li><a href="/Charlottesville.html">Charlottesville, VA</a></li>
        </ul>
      </div>

      <div>
        <h3>Public/Private</h3>
        <p>Public</p>
      </div>

      <div>
        <h3>Current Year Ethnicity Count</h3>
        <ul>
          <li><a href="/black.html">Black</a>: 1,861</li>
          <li><a href="/white.html">White</a>: 9,464</li>
          <li><a href="/asian.html">Asian</a>: 930</li>
        </ul>
      </div>


    </div>
  
{% endblock %}