<div class="container" ng-controller="AboutCtrl">

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">About
                    <strong>Southern Wholesome Education</strong>
                </h2>
                <hr>
                <div class="text-center">
                <p>Southern Wholesome Education serves to provide information regarding universities and their associated areas of studies, cities, and ethnic groups of people in the area.</div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row" ng-init="getGithubStats()">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Our
                    <strong>Team</strong>
                </h2>
                <hr>
            </div>
            <div class="col-sm-4 text-center">
                <img class="displayed" src="../static/images/matthew-pls.jpg" align="middle" alt="">
                <h3>Matthew Xavier</h3>
                <p>Studying computer science at UT Austin. Interests include computer security and back-end development.
                <p><b>Responsibilities:</b> Some of his major responsibilities included setting up the python Flask application, integration with nginx on an Amazon Web Services instance, installing and configuring postgresql, and setting up the search features on the website. He was also the project lead on phase Three.
				<p><b>no. of commits:</b> {{user_stats['mxavier6'].commits}}
				<p><b>no. of issues:</b> {{user_stats['mxavier6'].issues}}
				<p><b>no. of unit tests:</b> {{user_stats['mxavier6'].unit_tests}}
            </div>
            <div class="col-sm-4 text-center">
                <img class="displayed" src="../static/images/laura-pls.jpg" align="middle" alt="">
                <h3>Laura Yu</h3>
                <p>I'm a 4th year MIS/CS student. Interested in security and front-end development. I am always open to learning new things, and I like pizza. 
                <p><b>Responsibilities:</b> Responsible for a majority of the front-end for Southern Wholesome Education which included a lot of HTML work and Bootstrap integration, as well as work on UI including visualization of opensourcery.me data.
				<p><b>no. of commits:</b> {{user_stats['ninean'].commits}}
				<p><b>no. of issues:</b> {{user_stats['ninean'].issues}}
				<p><b>no. of unit tests:</b> {{user_stats['ninean'].unit_tests}}
            </div>
            <div class="col-sm-4 text-center">
                <img class="displayed" src="../static/images/brandon-pls.jpg" alt="">
                <h3>Brandon Dang</h3>
                <p>I'm a 4th year CS major. I enjoy front-end development and have interest in machine learning.
                <p><b>Responsibilities:</b> Along with being the project lead during phase one, Brandon was also responsible for front-end work, back-end work, setting up the database, designing the database models, and designing the UML.
				<p><b>no. of commits:</b> {{user_stats['budang'].commits}}
				<p><b>no. of issues:</b> {{user_stats['budang'].issues}}
				<p><b>no. of unit tests:</b> {{user_stats['budang'].unit_tests}}
            </div>
            
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-sm-4 text-center">
                <img class="displayed" src="../static/images/jiyoung-pls.jpg" alt="">
                <h3>Jiyoung Min</h3>
                <p>I'm also a 4th year CS student. I enjoy back-end development, bouldering, and playing violin.
                <p><b>Responsibilities:</b> Responsibilities included writing the technical report, setting up the RESTful API, working on pagination and sorting, and ensuring the search page was functional.
				<p><b>no. of commits:</b> {{user_stats['jymin94'].commits}}
				<p><b>no. of issues:</b> {{user_stats['jymin94'].issues}}
				<p><b>no. of unit tests:</b> {{user_stats['jymin94'].unit_tests}}
            </div>
            <div class="col-sm-4 text-center">
                <img class="displayed" src="../static/images/joaquin-pls.jpg" alt="">
                <h3>Joaquin Casaubon</h3>
                <p>UT Austin Computer Science student. Graduating December 2016 with interest in software engineering with focus on back-end development. 
                <p><b>Responsibilities:</b> Responsibilities included setting up the AWS instances, setting up DNS records, design of database models, working with department of education API, and visualizing opensourcery.me data. He was also the project lead on phase two.
				<p><b>no. of commits:</b> {{user_stats['ace-jc'].commits}}
				<p><b>no. of issues:</b> {{user_stats['ace-jc'].issues}}
				<p><b>no. of unit tests:</b> {{user_stats['ace-jc'].unit_tests}}
            </div>
            <div class="col-sm-4 text-center">
                <img class="displayed" src="../static/images/michael-pls.jpg" alt="">
                <h3>Michael Volk</h3>
                <p>4th year CS student at UT Austin. Interested in a software engineering career with a focus in back-end development. He is also a big sports fan, Hook 'em!
                <p><b>Responsibilities:</b> Responsibilities included work on the back-end, database, and data models for Southern Wholesome Education.
				<p><b>no. of commits:</b> {{user_stats['mjvolk'].commits}}
				<p><b>no. of issues:</b> {{user_stats['mjvolk'].issues}}
				<p><b>no. of unit tests:</b> {{user_stats['mjvolk'].unit_tests}}
            </div>
        <div class="clearfix"></div>
        </div>
    </div>

    <div class="row">
        <div class="box">
              <hr>
              <h2 class="intro-text text-center">
                <strong>Stats</strong>
              <hr>
                <strong>total no. of commits: </strong>{{total_stats['commits']}}<br>
                <strong>total no. of issues: </strong>{{total_stats['issues']}}<br>
                <strong>total no. of unit tests: </strong>{{total_stats['unit_tests']}}<br>
                <strong>Apiary API: </strong>
                <a href="http://docs.southernwholesomeeducation.apiary.io/#">http://docs.southernwholesomeeducation.apiary.io/#</a></li><br>
                <strong>GitHub Issue Tracker: </strong>
                  <a href="https://github.com/cs373gc-fall-2016/SouthernWholesomeEducation/issues">https://github.com/cs373gc-fall-2016/SouthernWholesomeEducation/issues</a><br>
                <strong>GitHub Repo: </strong>
                  <a href="https://github.com/cs373gc-fall-2016/SouthernWholesomeEducation">https://github.com/cs373gc-fall-2016/SouthernWholesomeEducation</a><br>
                <strong>GitHub Wiki: </strong>
                <a href="https://github.com/cs373gc-fall-2016/SouthernWholesomeEducation/wiki">https://github.com/cs373gc-fall-2016/SouthernWholesomeEducation/wiki</a><br>
              </h2>
    </div>

    <div class="row">
        <div class="box">
              <hr>
              <h2 class="intro-text text-center">
                <strong>Data</strong>
              <hr>
              <strong>Data Sources:</strong>
                <a href="https://catalog.data.gov/dataset/college-scorecard">https://catalog.data.gov/dataset/college-scorecard</a><br>
              <strong>Image Sources:</strong>
                <a href="http://api.gettyimages.com/">http://api.gettyimages.com/</a><br>
              </h2>
    </div>

    <div class="row">
        <div class="box">
              <hr>
              <h2 class="intro-text text-center">
                <strong>Tools</strong>
              <hr>
              <ul>
                <strong>Bootstrap: </strong>Bootstraps is used as the front-end design framework.<br>
                <strong>AWS Elastic Compute Cloud (EC2): </strong>BAll HTML and CSS files are hosted through an AWS EC2 instance.<br>
                <strong>Flask: </strong>BFlask is used as the main web framework. The index.html file is routed through Flask. The HTTP requests to load in information into Angular is also requested through Flask.<br>
                <strong>AngularJS: </strong>Angular is used to route in html partial pages based on links clicked. <br>
                <strong>SQLAlchemy: </strong>SQLAlchemy was used instantiate our class our models.<br>   
              </h2>
              </ul>
        </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row">
        <div class="box">
              <hr>
              <h2 class="intro-text text-center">
                <strong>Presentation</strong>
              <hr>
              <ul>
				  <strong>SpeakerDeck Link: </strong><a href="https://speakerdeck.com/jymin94/southern-wholesome-education">https://speakerdeck.com/jymin94/southern-wholesome-education</a><br>
              </ul>
        </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row">
        <div class="box">
              <hr>
              <h2 class="intro-text text-center">
                <strong>Unit Tests</strong>
              </h2>
              <hr>
              <div class="text-center">
                <button class="btn-default" ng-click="runUnitTests()">Run Unit Tests</button>
              </div>
              <br>
              <div>
                <pre>{{unitTestData}}</pre>
              </div>
              <!-- <div ng-show="unitTestData" class="ng-hide unit-tests">
                  {{unitTestData}}
              </div>   -->
        </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>
