<div align="center">
<table>
  <thead>
    <th id="nameCol">
      Ethnicity
        <a href="" ng-click="query('?sort=name&order=desc')" class="glyphicon glyphicon-triangle-bottom"></a>
        <a href="" ng-click="query('?sort=name&order=asc')" class="glyphicon glyphicon-triangle-top"></a>
    </th>

    <th id="total_countCol">
      Total Count
        <a href="" ng-click="query('?sort=total_count&order=desc')" class="glyphicon glyphicon-triangle-bottom"></a>
        <a href="" ng-click="query('?sort=total_count&order=asc')" class="glyphicon glyphicon-triangle-top"></a>
    </th>

    <th id="top_cityCol">
      Top City
        <a href="" ng-click="query('?sort=top_city&order=desc')" class="glyphicon glyphicon-triangle-bottom"></a>
        <a href="" ng-click="query('?sort=top_city&order=asc')" class="glyphicon glyphicon-triangle-top"></a>
    </th>

    <th id="top_city_amtCol">
      Top City Amount
        <a href="" ng-click="query('?sort=top_city_amt&order=desc')" class="glyphicon glyphicon-triangle-bottom"></a>
        <a href="" ng-click="query('?sort=top_city_amt&order=asc')" class="glyphicon glyphicon-triangle-top"></a>
    </th>

    <th id="top_universityCol">
      Top University
        <a href="" ng-click="query('?sort=top_university&order=desc')" class="glyphicon glyphicon-triangle-bottom"></a>
        <a href="" ng-click="query('?sort=top_university&order=asc')" class="glyphicon glyphicon-triangle-top"></a>
    </th>

    <th id="top_university_amtCol">
      Top University Amount
        <a href="" ng-click="query('?sort=top_university_amt&order=desc')" class="glyphicon glyphicon-triangle-bottom"></a>
        <a href="" ng-click="query('?sort=top_university_amt&order=asc')" class="glyphicon glyphicon-triangle-top"></a>
    </th>

  </thead>
  <tbody>
  <!-- <tr ng-repeat="row in myData">
  <td ng-repeat="cell in row">{{cell}}</td> -->
  <tr ng-repeat="eth in myData">
                <td>
                  <a ng-href="#/ethnicities/{{eth.id_num}}">
                    <span>{{eth.name}}</span>
                  </a>
                </td>
                <td>{{eth.total_count}}</td>
                <td>
                  <a ng-href="#/cities/{{eth.top_city_id}}">
                    <span>{{eth.top_city}}</span>
                  </a>
                </td>
                <td>{{eth.top_city_amt}}</td>
                <td>
                  <a ng-href="#/universities/{{eth.top_university_id}}">
                    <span>{{eth.top_university}}</span>
                  </a></td>
                <td>{{eth.top_university_amt}}</td>
</tr>
 </tbody>
</table>

<nav aria-label="Page navigation">
  <ul class="pagination">
	  <li ng-class="{disabled: currentPage == 0}">
      <a href ng-click="prevPage()" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
	<li ng-repeat="n in numPages" ng-class="{active: n == currentPage}" ng-click="setPage()"><a href ng-bind="n+1">1</a></li>
    <li ng-class="{disabled: currentPage == pages.length - 1}">
      <a href aria-label="Next" ng-click="nextPage()">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</div>