<!-- {{myData}} -->
<div class="container" ng-init="getImage(myData.name)">
  <div class="box">
    <div align="center" class = "row">
        <h1>{{myData.name}}</h1>
    </div>
    <div class="clearfix"></div>
  </div>

  <img ng-if="imageUri" ng-src="{{imageUri}}"></img>

  <div class="box">
    <div align="center" class="row">
      <div>
        <h3>Undergraduate Student Count</h3>
        <p>{{myData.total_count}}</p>
      </div>

      <div>
        <h3>Ethnic Number at Top University: <a href="/#/universities/{{myData.top_university_id}}">{{myData.top_university}}</a></h3>
        <p>{{myData.top_university_amt}}</p>
      </div>

     <div>
        <h3>Ethnic Number at Top City: <a href="/#/cities/{{myData.top_city_id}}">{{myData.top_city}}</a></h3>
        <p>{{myData.top_city_amt}}</p>
     </div>

      <div>
        <h3>Number of Associated Universities</h3>
        <p>{{myData.num_universities}}</p>
      </div>

      <div>
        <h3>Number of Associated Cities</h3>
        <p>{{myData.num_cities}}</p>
      </div>
    </div>
  </div>

</div>
