<!-- <table>
  <thead>

    <th id="nameCol">
      Major
        <a href="" ng-click="query('?sort=name&order=desc')" class="glyphicon glyphicon-triangle-bottom"></a>
        <a href="" ng-click="query('?sort=name&order=asc')" class="glyphicon glyphicon-triangle-top"></a>
    </th>

    <th id="num_undergradsCol">
      Undergraduates
        <a href="" ng-click="query('?sort=num_undergrads&order=desc')" class="glyphicon glyphicon-triangle-bottom"></a>
        <a href="" ng-click="query('?sort=num_undergrads&order=asc')" class="glyphicon glyphicon-triangle-top"></a>
    </th>

    <th id="top_cityCol">
      Top City
        <a href="" ng-click="query('?sort=top_city&order=desc')" class="glyphicon glyphicon-triangle-bottom"></a>
        <a href="" ng-click="query('?sort=top_city&order=asc')" class="glyphicon glyphicon-triangle-top"></a>
    </th>

    <th id="avg_percentageCol">
      Average Percent
        <a href="" ng-click="query('?sort=avg_percentage&order=desc')" class="glyphicon glyphicon-triangle-bottom"></a>
        <a href="" ng-click="query('?sort=avg_percentage&order=asc')" class="glyphicon glyphicon-triangle-top"></a>
    </th>

    <th id="assoc_universityCol">
      University Count
        <a href="" ng-click="query('?sort=assoc_university&order=desc')" class="glyphicon glyphicon-triangle-bottom"></a>
        <a href="" ng-click="query('?sort=assoc_university&order=asc')" class="glyphicon glyphicon-triangle-top"></a>
    </th>

  </thead>
  <tbody>
  <tr ng-repeat="row in myData">
  <td ng-repeat="cell in row">{{cell}}</td>
  <tr ng-repeat="major in myData">
                <td>
                  <a ng-href="/#/majors/{{major.id_num}}">
                    <span>{{major.name}}</span>
                  </a>
                 </td>
                <td>{{major.num_undergrads}}</td>
                <td>
                  <a ng-href="/#/cities/{{major.top_city_id}}">
                    <span>{{major.top_city}}</span>
                  </a>
                </td>
                <td>{{major.avg_percentage}}</td>
                <td>{{major.num_universities}}</td>
</tr>
 </tbody>
</table>

<nav aria-label="Page navigation">
  <ul class="pagination">
	  <li ng-class="{disabled: currentPage == 0}">
      <a href ng-click="prevPage()" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
	<li ng-repeat="n in numPages" ng-class="{active: n == currentPage}" ng-click="setPage()"><a href ng-bind="n+1">1</a></li>
    <li ng-class="{disabled: currentPage == pages.length - 1}">
      <a href aria-label="Next" ng-click="nextPage()">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav> -->

<table class="table" st-pipe="mc.callServer" st-table="mc.displayed" st-safe-src="mc.rowCollection">
	<thead>
	<tr>
		<th st-sort="name" class="sort">Major</th>
		<th st-sort="num_undergrads" class="sort">Number of Undergraduates</th>
		<th st-sort="top_city" class="sort">Top City for Major</th>
		<th st-sort="top_city_amt" class="sort">Top City Major Count</th>
		<th st-sort="top_university" class="sort">Top University for Major</th>
		<th st-sort="top_university_amt" class="sort">Top University Major Count</th>
	</tr>
	</thead>
	<tbody ng-show="!mc.isLoading">
	<tr ng-repeat="row in mc.displayed">
		<td><a ng-href="/#/majors/{{row.id_num}}">
		  <span>{{row.name}}</span></a></td>
		<td>{{row.num_undergrads}}</td>
		<td><a ng-href="/#/cities/{{row.top_city_id}}">
		  <span>{{row.top_city}}</span>
		</a></td>
		<td>{{row.top_city_amt}}</td>
		<td><a ng-href="/#/universities/{{row.top_university_id}}">
		  <span>{{row.top_university}}</span>
		</a></td>
		<td>{{row.top_university_amt}}</td>
	</tr>
	</tbody>
	<tbody ng-show="mc.isLoading">
	<tr>
		<td colspan="6" class="text-center">Loading ... </td>
	</tr>
	</tbody>
	<tfoot>
	<tr>
		<td class="text-center" st-pagination="" st-items-by-page="10" colspan="6" st-displayed-pages="8">
		</td>
	</tr>
	</tfoot>
</table>
