<!-- {{myData}} -->
<div class="container">
  <div align="center" class="row">
    <div class="box">
      <div>
        <h1>{{myData.name}}</h1>
      </div>
    </div>

    <img class="detail-img" ng-if="imageUri" ng-src="{{imageUri}}"></img>

    <div class="box">
      <div>
        <h3>Number of Undergraduate Students</h3>
        <p>{{myData.num_undergrads}}</p>
      </div>

      <div>
        <h3>Average Percentage of Students</h3>
        <p>{{myData.avg_percentage}}%</p>
      </div>

      <div>
          <h3>Major Number at Top University: <a href="/#/universities/{{myData.top_university_id}}">{{myData.top_university}}</a></h3>
          <p>{{myData.top_university_amt}}</p>
      </div>

      <div>
          <h3>Major Number at Top City: <a href="/#/cities/{{myData.top_city_id}}">{{myData.top_city}}</a></h3>
          <p>{{myData.top_city_amt}}</p>
      </div>

      <div>
        <h3>Number of Associated Cities</h3>
        <p>{{myData.num_cities}}</p>
      </div>
    </div>
  </div>

</div>
