<!-- {{myData}} -->
<div class="container">
  <div class=".col-md-6">
    <div>
      <h3>{{myData.name}}</h3>
    </div>

    <img ng-src="{{image(myData.name)}}"></img>

    <div>
      <h3>Number of Undergraduate Students</h3>
      <p>{{myData.num_undergrads}}</p>
    </div>

    <div>
      <h3>Percentage of Students</h3>
      <p>{{myData.avg_percentage}}%</p>
    </div>

   <div>
       <h3>Top City for {{myData.name}}</h3>
       <p><a href="/#/cities/{{myData.top_city_id}}">{{myData.top_city}}</a></h3>
   </div>

   <div>
       <h3>Number of Associated Universities</h3>
       <p>{{myData.num_universities}}</p>
   </div>

   <div>
       <h3>Number of Associated Cities</h3>
       <p>{{myData.num_cities}}</p>
   </div>

    <!-- <div>
      <h3>Current year ethnicity count</h3>
      <ul>
        <li><a href="/hispanic.html">Hispanic</a>: 17,900</li>
        <li><a href="/white.html">White</a>: 8,561</li>
        <li><a href="/asian.html">Asian</a>: 7,393</li>
      </ul>
    </div>
-->


  </div>

</div>
