<!-- {{myData}} -->
<div class="container">
  <div align="center" class = "row">
    <div class="box">
      <div>
        <h1>{{myData.name}}</h1>
      </div>
    </div>

    <img ng-src="{{image(myData.name)}}"></img>

    <div class="box">
      <div>
        <h3>Number of Undergraduate Students</h3>
        <p>{{myData.num_undergrads}}</p>
      </div>

      <div>
        <h3>Percentage of Students</h3>
        <p>{{myData.avg_percentage}}%</p>
      </div>

      <div>
        <h3>Top City for {{myData.name}}</h3>
        <p><a href="/#/cities/{{myData.top_city_id}}">{{myData.top_city}}</a></p>
      </div>

      <div>
        <h3>Number of Associated Universities</h3>
        <p>{{myData.num_universities}}</p>
      </div>

      <div>
        <h3>Number of Associated Cities</h3>
        <p>{{myData.num_cities}}</p>
      </div>
    </div>
  </div>
</div>
