<!-- {{myData}} -->
<div class="container">
  <div class="box">
      <div align="center" class = "row">
        <h1>{{myData.name}}</h1>
      </div>
  </div>

  <img class="detail-img" ng-if="imageUri" ng-src="{{imageUri}}"></img>

  <div class="box">
    <div align="center" class = "row">
      <div>
        <h3>Number of Undergraduate Students</h3>
        <p>{{myData.num_undergrads}}</p>
      </div>

      <div>
        <h3>Cost to Attend</h3>
        <p>${{myData.cost_to_attend}}</p>
      </div>

      <div>
        <h3>Graduation Rate</h3>
        <p>{{myData.grad_rate}}%</p>
      </div>

      <div>
        <h3>Location</h3>
        <p>
          <a ng-href="#/cities/{{myData.city_id}}">{{myData.city_name}}</a>
        </p>
      </div>

      <div>
        <h3>Public/Private</h3>
        <p>{{myData.public_or_private}}</p>
      </div>
    </div>
  </div>

  <div class = "row">
    <div class = "col-lg-2" />
    <div class = "col-lg-4">
      <div class="box">
        <h3>Majors</h3>
        <!-- <ul ng-repeat="maj in myData.majors">
            <li><a href="/#/majors/{{maj.id}}">{{maj.name}}</a>: {{maj.num_students}}</li>
        </ul> -->
        <table class="table table-striped">
		<thead>
		<tr>
			<th ng-click="majsort('name')">Major
        <span class="glyphicon sort-icon" ng-show="majsortKey=='name'" ng-class="{'glyphicon-chevron-down':majreverse,'glyphicon-chevron-up':!majreverse}"></span></th>
			<th ng-click="majsort('num_students')">Student Number
        <span class="glyphicon sort-icon" ng-show="majsortKey=='num_students'" ng-class="{'glyphicon-chevron-down':majreverse,'glyphicon-chevron-up':!majreverse}"></span></th>
		</tr>
		</thead>
		<tbody>
		<tr dir-paginate="maj in majors|orderBy:majsortKey:majreverse|itemsPerPage:10" pagination-id="major">
			<td><a href="/#/majors/{{maj.id}}">{{maj.name}}</a></td>
			<td>{{maj.num_students}}</td>
		</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="5" class="text-center">
					<dir-pagination-controls pagination-id="major"></dir-pagination-controls>
				</td>
			</tr>
		</tfoot>
	</table>
      </div>
    </div>

    <div class = "col-lg-4">
      <div class="box">
        <h3>Ethnicities</h3>
        <!-- <ul ng-repeat="eth in myData.ethnicities">
            <li><a href="/#/ethnicities/{{eth.id}}">{{eth.name}}</a>: {{eth.num_students}}</li>
        </ul> -->
        <table class="table table-striped">
		<thead>
		<tr>
			<th ng-click="ethsort('name')">Ethnicity
        <span class="glyphicon sort-icon" ng-show="ethsortKey=='name'" ng-class="{'glyphicon-chevron-down':ethreverse,'glyphicon-chevron-up':!ethreverse}"></span></th>
			<th ng-click="ethsort('num_students')">Student Number
        <span class="glyphicon sort-icon" ng-show="ethsortKey=='num_students'" ng-class="{'glyphicon-chevron-down':ethreverse,'glyphicon-chevron-up':!ethreverse}"></span></th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="eth in ethnicities|orderBy:ethsortKey:ethreverse">
			<td><a href="/#/ethnicities/{{eth.id}}">{{eth.name}}</a></td>
			<td>{{eth.num_students}}</td>
		</tr>
		</tbody>
	</table>
      </div>
    </div>
    <div class = "col-lg-2" />
  </div>

</div>
