<div class="container" ng-controller="AboutCtrl">

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Visualization of team
                    <strong>Open Sourcery</strong>
                </h2>
                <hr>
                <div class="row" ng-init="getVisualization()">
                  <div class="box">
                      <div class="col-sm-4 text-center">
                          <h3>Open Sourcery</h3>
                  <p><b>Other group data:</b> {{rec_data}}
                      </div>
                      
                      <div class="clearfix"></div>
                  </div>
              </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
