{% extends "../layout.html" %}
{% block content %}
    <div class="container">
      <div>
        <h3>Los Angeles, CA</h3>
      </div>

      <div>
        <h3>Student Population</h3>
        <p>18,392</p>
      </div>

      <div>
        <h3>Universities in the city</h3>
        <ul>
          <li><a href="/university/USC.html">University of Southern California</a></li>
        </ul>
      </div>

      <div>
        <h3>Majors in the city or most popular</h3>
        <ul>
          <li><a href="/major/journalism.html">Journalism</a></li>
          <li><a href="/major/engineering.html">Engineering</a></li>
          <li><a href="/major/socialsciences.html">Social Sciences</a></li>
        </ul>
      </div>

      <div>
        <h3>Average tuition in the city</h3>
        <p>$28,344</p>
      </div>

      <div>
        <h3>Urban/Rural</h3>
        <p>Urban</p>
      </div>

      <div>
        <h3>Current Year Student Ethnicity Count</h3>
        <ul>
          <li><a href="/ethnicity/hispanic.html">Hispanic</a>: 2,574</li>
          <li><a href="/ethnicity/white.html">White</a>: 6,621</li>
          <li><a href="/ethnicity/asian.html">Asian</a>: 4,230</li>
        </ul>
      </div>

    </div>
  
{% endblock %}

