{% extends "layout.html" %}
{% block content %}
    <div class="container">
      <div>
        <h3>Engineering</h3>
      </div>

      <div>
        <h3>Undergraduate Students in Major</h3>
        <p>8,136</p>
      </div>

      <div>
        <h3>Graduation Rate</h3>
        <p>53.6%</p>
      </div>

      <div>
        <h3>Schools Containing this Major</h3>
        <ul>
          <li><a href="/UTAustin.html">University of Austin at Texas</a></li>
          <li><a href="/USCU.html">University of Southern California</a></li>
          <li><a href="/UVMain.html">University of Virginia-Main Campus</a></li>
        </ul>
      </div>

      <div>
        <h3>Cities Containing this Major</h3>
        <ul>
          <li><a href="/Austin.html">Austin, TX</a></li>
          <li><a href="/LosAngeles.html">Los Angeles, CA</a></li>
          <li><a href="/Charlottesville.html">Charlottesville, VA</a></li>
        </ul>
      </div>

      <div>
        <h3>Average Percentage</h3>
        <p>11.1%</p>
      </div>

      <img class="img-responsive" src="https://aos.iacpublishinglabs.com/question/aq/700px-394px/engineering-jobs-start-k_b77db33335b625a7.jpg?domain=cx.aos.ask.com
" alt="">

    </div>
  
{% endblock %}
