{% extends "../layout.html" %}
{% block content %}
    <div class="container">
      <div>
        <h3>Journalism</h3>
      </div>

      <div>
        <h3>Undergraduate Students in Major</h3>
        <p>2,967</p>
      </div>

      <div>
        <h3>Graduation Rate</h3>
        <p>83.1%</p>
      </div>

      <div>
        <h3>Schools Containing this Major</h3>
        <ul>
          <li><a href="/universities/UTAustin.html">University of Austin at Texas</a></li>
          <li><a href="/universities/USCU.html">University of Southern California</a></li>
        </ul>
      </div>

      <div>
        <h3>Cities Containing this Major</h3>
        <ul>
          <li><a href="/cities/Austin.html">Austin, TX</a></li>
          <li><a href="/cities/LosAngeles.html">Los Angeles, CA</a></li>
        </ul>
      </div>

      <div>
        <h3>Average Percentage</h3>
        <p>4.1%</p>
      </div>

    </div>
  
{% endblock %}
