.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 70%;
	margin: auto;
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.carousel {
    max-height: 600px;
    overflow: hidden;
}

.unit-tests {
    background-color: #f2f2f2;
    padding: 10px;
    border: 3px solid LightGrey;
    padding: 10px;
}
.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}

/*
.item img {
	width: 100%;
	height: auto;
}
*/

}
table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
