{% extends "../layout.html" %}
{% block content %}
    <div class="container">
      <div>
        <h3>University of Texas at Austin</h3>
      </div>

      <div>
        <h3>Number of Undergraduate Students</h3>
        <p>38,914</p>
      </div>

      <div>
        <h3>Cost to Attend</h3>
        <p>$17,152</p>
      </div>

      <div>
        <h3>Graduation Rate</h3>
        <p>80%</p>
      </div>

      <div>
        <h3>Location</h3>
        <ul>
          <li><a href="/city/Austin.html">Austin, TX</a></li>
        </ul>
      </div>

      <div>
        <h3>Public/Private</h3>
        <p>Public</p>
      </div>

      <div>
        <h3>Current year ethnicity count</h3>
        <ul>
          <li><a href="/ethnicity/hispanic.html">Hispanic</a>: 17,900</li>
          <li><a href="/ethnicity/white.html">White</a>: 8,561</li>
          <li><a href="/ethnicity/asian.html">Asian</a>: 7,393</li>
        </ul>
      </div>


    </div>
  
{% endblock %}

